.content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}

.content *{
  justify-self: center;
  margin: 0 40px;
}

button {
  outline: none;
  height: 50px;
  text-align: center;
  width: 160px;
  border-radius: 40px;
  background: #fff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  color: white;
  background: #1ECD97;
}

button:active {
  letter-spacing: 2px;
}

button.green{
  border: 2px solid #1ECD97;
  color: #1ECD97;
}

button.green:hover{
  color: white;
  background: #1ECD97;
}

button.green::after{
  content: 'Start Recording';
}

button.red{
  border: 2px solid #fc5353;
  color: #fc5353;
  animation: shadow-pulse 1s linear infinite;
}

button.red:hover{
  color: white;
  background: #fc5353;
}

button.red::after{
  content: 'Recording';
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 2px 0 rgba(252, 83, 83, 0.2);
  }
  100% {
    box-shadow: 0 0 2px 20px rgba(252, 83, 83, 0);
  }
}